.icon-variant1, .icon-variant2, .icon-variant3, .icon-whom1, .icon-whom2, .icon-whom3, .icon-whom4, .icon-whom5, .icon-whom6, .icon-fir, .icon-play, .icon-re, .line-white, .line-black{
	background: url(sprites.png) no-repeat;
}

.icon-variant1{
	background-position: -167px -21px ;
	width: 46px;
	height: 85px;
}

.icon-variant2{
	background-position: -225px -22.000015258789062px ;
	width: 55px;
	height: 86px;
}

.icon-variant3{
	background-position: -293px -22px ;
	width: 91px;
	height: 85px;
}

.icon-whom1{
	background-position: 0 -76px ;
	width: 62px;
	height: 71px;
}

.icon-whom2{
	background-position: -78px -146px ;
	width: 71px;
	height: 50px;
}

.icon-whom3{
	background-position: -4px -155px ;
	width: 62px;
	height: 40px;
}

.icon-whom4{
	background-position: -159px -136.00001525878906px ;
	width: 63px;
	height: 63px;
}

.icon-whom5{
	background-position: -233px -124px ;
	width: 79px;
	height: 75px;
}

.icon-whom6{
	background-position: -321px -127px ;
	width: 80px;
	height: 69px;
}

.icon-fir{
	background-position: 0 -22px ;
	width: 57px;
	height: 44px;
}

.icon-play{
	background-position: -72px -21px ;
	width: 86px;
	height: 86px;
}

.icon-re{
	background-position: -74px -117px ;
	width: 18px;
	height: 18px;
}

.line-white{
	background-position: 0 0;
	width: 407px;
	height: 3px;
}

.line-black{
	background-position: 0 -7px ;
	width: 407px;
	height: 2px;
}

